<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/form-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/form-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container-fluid">

        <form class="col-sm-9 col-sm-offset-3 col-xs-12">

            <label>
                Input Name
            </label>
            <input type="text" />
            <div class="clearfix"></div>
            <label>
                Input Name
            </label>
            <input type="text" />
            <div class="clearfix"></div>
            <label>
                Input Name
            </label>
            <input type="text" />
            <div class="clearfix"></div>
            <label>
                Input Name
            </label>
            <input type="text" />
            <div class="clearfix"></div>
            <input type="submit" value="submit"/>
        </form>

    </div>

    <div class="clearfix"></div>

</div>