<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/worming-slider2.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
        <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/worming-slider2-mobile.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="aboutcontent">

        <div class="clearfix"></div>

        <div class="worming2-content">

            <img src="/assets/worming22.jpg" alt="" class="img-responsive"/>


        </div>

    </div>

    <div class="clearfix"></div>

</div>