<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/worming-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/worming-slider-mobile.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="aboutcontent">


        <div class="bxslidertop hidden-xs">
            <ul class="bxslider">
                <li>
                    <img src="/assets/cat.jpg" alt="" style="width: 100%;"/>
                    <div class="sliderbox-red sliderbox-worming">
                        <h2>DOSING MADE EASY</h2>
                        <p>
                            Dosing a dog or cat is easy when you use a tasty tablet that’s easy to give and mess-free.
                        </p>
                        <p>
                            Your vet can provide a regular dosing plan for your pet. Many vets now recommend using a vet-strength dose, such as Aopica. Then you just need to remember to give your pet its tablet!
                        </p>
                        <p>
                            Try our free dosing reminders to help you.
                        </p>
                        <p>
                            Once you’ve got dosing under control, you can relax, safe in the knowledge that your pet and family are well protected.

                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="visible-xs sliderbox-worming-mobile">
            <div class="sliderbox-red sliderbox-worming">
                <h2>WORMING MADE EASY</h2>
                <p>
                    Worming a dog or cat is easy when you use a tasty tablet that’s
                    easy to give and mess-free.
                </p>
                <p>
                    Your vet can provide a regular worming plan for your pet. Many
                    vets now recommend using a vet-strength wormer, such as
                    Milbemax. Then you just need to remember to give your pet its
                    tablet!
                </p>
                <p>
                    Try our free worming reminders to help you.
                    Once you’ve got worming under control, you can relax, safe in
                    the knowledge that your pet and family are well protected.
                </p>
            </div>
        </div>


        <div class="clearfix"></div>
        <div class="worming-icons">

            <a href=""><img src="/assets/worming01.png" alt=""/></a>
            <a href=""><img src="/assets/worming02.png" alt=""/></a>
            <a href=""><img src="/assets/worming03.png" alt=""/></a>

        </div>
        <div class="clearfix"></div>
    </div>