<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/video-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/video-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="homepagecontent">
        <div class="container">
            <div class="videocontainer">
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/v10x8nFOoD4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="second-par">
            <h2>ATOPICA VIDEO</h2>
            <p>
                Faccatum explaboriae etum quist reris moloribeatem voluptatent mossimu sciliquiamus int quae. Ulpario nsenduntium res mint, et ma etur? Quiaspe lestioribus et ut quidio. Ita doloriae volorest veliquundus elicidel ipsunto reperspit enes accati coribust miniam, seque aut qui atur, sa sunt, te es sequae. Nam iunt, ium nos eos essum elique sa volut haria nullestia explica ecuscil lesequi a si tem rerovit iunderum acimpos eos nonet adit, officaerro volo et occuptae porrum re sum uta de pres
            </p>
        </div>
    </div>



</div>