<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/about-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/about-slider-mobile.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="homepagecontent">
        <div class="container">
            <div class="about2text">
                <h2>ABOUT ATOPICA</h2>
                <p>
                    od etur, conse acit, odicieturio quas unt, quossint fuga. Faccullite vollestionet voloria sini illab ipsam landiaecume inci seritiam in consequis es explitatusci id quatur, que alit doloreri aribusae nusdae voluptatem a delesti tem facessi tatquiderum experio. Dis audipsu nditatet doloreped quatioria perepedis dolor am aut harcil moditas dolorepudame nus, quam autas ma del magnihilit voluptatati rem doluptat.
                    Arum volupti omnihit estota volores torero et ut aditiatet doluptaquias repersperit repratu.
                </p>
                <p>
                    To find out more about Atopica for your pet, select one of the options below:
                </p>
            </div>
        </div>
        <div class="second-par">
            <div class="col-sm-6 col-xs-12 about2images">
                <img src="/assets/about2-img1.jpg" alt="Cat" class="img-responsive" onclick="javascript:location.href = '/'"/>
            </div>
            <div class="col-sm-6 col-xs-12 about2images">
                <img src="/assets/about2-img2.jpg" alt="Dog" class="img-responsive" onclick="javascript:location.href = '/'"/>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>



</div>