<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/about3-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/about3-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="homepagecontent about3">
        <div class="container">
            <div class="about3text1">
                <img src="/assets/about3-image1.jpg" alt="" class="img-responsive hidden-xs"/>
                <div class="text">
                    <h2>ABOUT ATOPICA</h2>
                    <p>
                        Faccatum explaboriae etum quist reris moloribeatem voluptatent mossimu sciliquiamus int quae. Ulpario nsenduntium res mint, et ma etur? Quiaspe lestioribus et ut quidio. Ita doloriae volorest veliquundus elicidel ipsunto reperspit enes accati coribust miniam, seque aut qui atur, sa sunt, te es sequae. Nam iunt, ium nos eos essum elique sa volut haria nullestia explica ecuscil lesequi a si tem rerovit iunderum acimpos eos nonet adit, officaerro volo et occuptae porrum re sum uta de pres.
                    </p>
                </div>
                <img src="/assets/about3-image1.jpg" alt="" class="img-responsive visible-xs"/>
            </div>
            <div class="clearfix"></div>
            <div class="about3text2">
                <img src="/assets/about3-image2.jpg" alt="" class="img-responsive hidden-xs"/>
                <div class="text">
                    <h2>ABOUT ATOPICA</h2>
                    <p>
                        Faccatum explaboriae etum quist reris moloribeatem voluptatent mossimu sciliquiamus int quae. Ulpario nsenduntium res mint, et ma etur? Quiaspe lestioribus et ut quidio. Ita doloriae volorest veliquundus elicidel ipsunto reperspit enes accati coribust miniam, seque aut qui atur, sa sunt, te es sequae. Nam iunt, ium nos eos essum elique sa volut haria nullestia explica ecuscil lesequi a si tem rerovit iunderum acimpos eos nonet adit, officaerro volo et occuptae porrum re sum uta de pres.
                    </p>
                </div>
                <img src="/assets/about3-image2.jpg" alt="" class="img-responsive visible-xs"/>

            </div>


        </div>

        <div class="clearfix"></div>
    </div>



</div>