<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/why-sllider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/why-sllider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="homepagecontent diagnosis">
        <div class="diagnosis-row">
            <div class="diagnosis-image">
                <input type="button" value="BUTTON TEXT">
            </div>
            <div class="diagnosis-text">
                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="diagnosis-row">
            <div class="diagnosis-image">
                <input type="button" value="BUTTON TEXT">
            </div>
            <div class="diagnosis-text">
                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

            </div>

        </div>

        <div class="clearfix"></div>
        <div class="diagnosis-row">
            <div class="diagnosis-image">
                <input type="button" value="BUTTON TEXT">
            </div>
            <div class="diagnosis-text">
                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

            </div>

        </div>

        <div class="clearfix"></div>

        <div class="diagnosis-row">
            <div class="diagnosis-image">
                <input type="button" value="BUTTON TEXT">
            </div>
            <div class="diagnosis-text">
                <div style="background-image: url(/assets/about4-image1.jpg)">
                </div>

            </div>

        </div>

        <div class="clearfix"></div>

    </div>