<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/dosing-table-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/dosing-table-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="dosing-table">
        <div class="dosing-table1">
            <div class="box1">
                <img src="/assets/about2-img1.jpg" alt=""/>
            </div>
            <div class="box2">
                <table class="tg">
                    <tr>
                        <th class="table-header">DOSE</th>
                        <th class="table-header">TIME OF DAY</th>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="dosing-table2">
            <div class="box1">
                <img src="/assets/about2-img2.jpg" alt=""/>
            </div>
            <div class="box2">
                <table class="tg">
                    <tr>
                        <th class="table-header">DOSE</th>
                        <th class="table-header">TIME OF DAY</th>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">1</td>
                        <td class="tg-yw4l">Midday</td>
                    </tr>
                </table>
            </div>
        </div>
          <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>