<div class="popup-block">
    <div class="popup-window">
        <a href=""><img class="img-responsive" src="/assets/pet01.png" alt=""/></a>
        <a href=""><img class="img-responsive" src="/assets/pet02.png" alt=""/></a>
            <div class="clearfix"></div>
        </div>
</div>


<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/homepage-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
        <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="/assets/homepage-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="homepagecontent">
        <div class="container">
            <div class="first-par" style="margin-top: 50px;">
                Imus alibus, core, quati abor aut audi aboresequis id ullabo. Hiliqui tem. Itatio omnimil et ea sus.
                Num fuga. Nequam, occabore pedit aut prae autae sequat unt unt odic temporiore verio offictusam eicienit quas ius asita
                ame expliquo to et volorerae cullaborum reserate nosapid ea dolupti onsenditatem sum a quossus mollaces aut parumqui
                dessincte lat volorum quodit, vel et aut rehent ut voluptaqui in comnihil ma doluptu ribere erspis none volupta dem ium re
                conseque occum cum acea ne nime sit quae de non nuscillam, ommos eum, tem quam laboribus resti optatquatur?
            </div>
        </div>
        <div class="second-par">
            <h2>ABOUT ATOPICA</h2>
            <p>
                Imus alibus, core, quati abor aut audi aboresequis id ullabo. Hiliqui tem. Itatio omnimil et ea sus.
                Num fuga. Nequam, occabore pedit aut prae autae sequat unt unt odic temporiore verio offictusam eicienit quas ius asita
                ame expliquo to et volorerae cullaborum reserate nosapid ea dolupti onsenditatem sum a quossus mollaces aut parumqui
                dessincte lat volorum quodit, vel et aut rehent ut voluptaqui in comnihil ma doluptu ribere erspis none volupta dem ium re
                conseque occum cum acea ne nime sit quae de non nuscillam, ommos eum, tem quam laboribus resti optatquatur?
            </p>

        </div>
    </div>



</div>