<body>
        <div class="header">
            <div class="header-inner">
                <div class="logo-box">
                    <img src="/assets/logo-header.png" alt="" class="img-responsive header-logo" onclick="javascript:location.href = '/'"/>
                </div>
                <img src="/assets/mobile-menu.png" alt="Menu" class="mobile-menu"/>
                <ul class="main-menu">
                    <li class="menuabout"><a href="/about2">ABOUT ATOPICA</a></li>
                    <li class="menuwhy"><a href="/whyatopica">WHY ATOPICA</a></li>
                    <li class="menufaq"><a href="/info/faq">FAQ</a></li>
                    <li class="menuworming"><a href="/worming">TREATMENT MADE EASY</a></li>
                    <li class="menubuy"><a href="/wheretobuy">WHERE TO BUY</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="rightbanner">


        </div>
</body>